In [160]:
#import package
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

from sklearn.preprocessing import LabelEncoder


import AllTogether as t

import seaborn as sns

%matplotlib inline

#read dataset
listings = pd.read_csv('./listings.csv')
listings.head()
reviews = pd.read_csv('./reviews.csv')
reviews.head()
calendar = pd.read_csv('./calendar.csv')
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [219]:
#data wrangling
#drop some descripsive columns
lists=listings.drop(['listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'host_total_listings_count',
       'space', 'description', 'experiences_offered','neighborhood_overview', 'notes','thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name','host_about','host_location','host_thumbnail_url', 'host_picture_url','host_verifications','host_neighbourhood', 'latitude', 'longitude',
       'is_location_exact','street', 'neighbourhood','city', 'state', 'zipcode', 'market','smart_location', 'country_code', 'country','jurisdiction_names', 'transit','amenities','calendar_updated', 'require_guest_profile_picture', 'require_guest_phone_verification','license','last_review','first_review'],axis=1)
lists.columns

Index(['id', 'host_since', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_listings_count',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'instant_bookable',
       'cancellation_policy', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [220]:
#change the price to float
def covert_currency(x): 
    if x == 0:
        return 0
    else:
        if isinstance(x,str):
            
            return x.replace("$","").replace(",","")
        else: return x

types_to_change={'price','weekly_price','monthly_price','security_deposit', 'cleaning_fee','extra_people'}
for i in types_to_change:
    
    cust_str =lists[i].apply(lambda x:covert_currency(x))
    lists[i] = pd.to_numeric(cust_str)

In [221]:
#change the % to float

def p2f(x):
    if isinstance(x,str):
        
        return float(x.replace('%',''))/100
    else:return x
    
types_to_change={'host_response_rate','host_acceptance_rate'}

for i in types_to_change:
    
    cust_str=lists[i].apply(lambda x:p2f(x))
    
    lists[i] = pd.to_numeric(cust_str)

In [222]:
#get the column names
num_cols=lists.select_dtypes(include=['float','int']).columns
cat_cols=lists.select_dtypes(include=['object']).copy().columns
print(num_cols)
print(cat_cols)
#fill the numerical NaN with mean

fill_mean= lambda col:col.fillna(col.mean())
lists[num_cols]=lists[num_cols].apply(fill_mean,axis=0)


#Add dummy varialbe to each the catogory
for col in  cat_cols:
        try:
            lists = pd.concat([lists.drop(col, axis=1), pd.get_dummies(lists[col], prefix=col, prefix_sep='_', drop_first=True)], axis=1)
        except:
            continue
lists.head()

Index(['host_response_rate', 'host_acceptance_rate', 'host_listings_count',
       'bathrooms', 'bedrooms', 'beds', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'extra_people',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object')
Index(['host_since', 'host_response_time', 'host_is_superhost',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed',
       'property_type', 'room_type', 'bed_type', 'has_availability',
       'calendar_last_scraped', 'requires_license', 'instant_bookable',
       'cancellation_policy'],
      dtype='object')

,id,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,bathrooms,bedrooms,beds,square_feet,price,...,property_type_Yurt,room_type_Private room,room_type_Shared room,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,instant_bookable_t,cancellation_policy_moderate,cancellation_policy_strict
0,241032,0.960000,1.000000,3.0,4,1.0,1.0,1.0,854.618557,85.0,...,0,0,0,0,0,0,1,0,1,0
1,953595,0.980000,1.000000,6.0,4,1.0,1.0,1.0,854.618557,150.0,...,0,0,0,0,0,0,1,0,0,1
2,3308979,0.670000,1.000000,2.0,11,4.5,5.0,7.0,854.618557,975.0,...,0,0,0,0,0,0,1,0,0,1
3,7421966,0.948868,0.999672,1.0,3,1.0,0.0,2.0,854.618557,100.0,...,0,0,0,0,0,0,1,0,0,0
4,278830,1.000000,0.999672,2.0,6,2.0,3.0,3.0,854.618557,450.0,...,0,0,0,0,0,0,1,0,0,1

In [213]:
listings['square_feet'].isnull().mean()

0.9745940282870613

In [3]:
calendar = pd.read_csv('./calendar.csv')
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [41]:
calendar.groupby("listing_id")['available'].value_counts()
#filter(lambda g: (g.name != 0) and (g.listing_id=='241032'))
#calendar['available'].value_counts(subset"listing_id"=="241032")

listing_id  available
3335        t            309
            f             56
4291        t            365
5682        t            309
            f             56
                        ...
10334184    f              4
10339144    f            365
10339145    t            365
10340165    t            358
            f              7
Name: available, Length: 6863, dtype: int64

In [6]:
calendar["price"].isnull().value_counts()

False    934542
True     459028
Name: price, dtype: int64

In [7]:
calendar["available"].isnull().value_counts()

False    1393570
Name: available, dtype: int64

In [ ]:
calendar["available"].isnull().value_counts()